<footer class="footer">
<div class="container">
  <p></p>
    © Powered by <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %> and <%= link_to "Twitter Bootstrap", "http://twitter.github.com/bootstrap/", target: "_blank" %>.
  </div>
</footer>
 
